<nav>
    <a [routerLink]="['/home']">
       Categories
      </a>
      |
        <a [routerLink]="['/about']">
        category Lists
      </a>
</nav>
<h3>Category List</h3>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>C1 Category</td>
            <td>C2 Category</td>
            <td>C3 Category</td>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{category.name}}</td>
            <td>{{category.category=='C1' ? category.amount : '-'}}</td>
            <td><span>{{category.category=='C2' ? category.amount : '-'}}</span></td>
            <td><span>{{category.category=='C3' ? category.amount : '-'}}</span></td>
        </tr>
    </tbody>
</table>